<a href="https://colab.research.google.com/github/JhonRobinBagarinao/PLNG211-QC/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#accessing the elements in the array
animals = ['cat','dog','fish']
print("The animals are: ", animals)
print("The animal in the first list is", animals[0])

The animals are:  ['cat', 'dog', 'fish']
The animal in the first list is cat

In [6]:
#modifying the element/s in the array
animals = ['cat','dog','fish']
animals[0]= 'monkey'
print(animals)

['monkey', 'dog', 'fish']

In [7]:
#length of the array
animals = ['cat','dog','fish']
x = len(animals)
print(x)

3

In [12]:
#looping in array
animals = ['cat','dog','fish']
for x in animals:
 print(x)

cat
dog
fish

In [15]:
#adding elements in the list of an array
animals = ['cat','dog','fish']
animals.insert(1,'monkey')
print(animals)
#append
animals.append('bird')
print(animals)

['cat', 'monkey', 'dog', 'fish']
['cat', 'monkey', 'dog', 'fish', 'bird']

In [16]:
#removing
animals.pop(3)
print(animals)

['cat', 'monkey', 'dog', 'bird']