<a href="https://colab.research.google.com/github/JhonRobinBagarinao/PLNG211-QC/blob/main/Introduction_to_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python indentation

In [1]:
# python indentation example (labelling)
if 5>2:
  print("5 greater than 2")

5 greater than 2

Python variables

In [2]:
x = 1
a, b =  0, -1
a = 9
c = "Sally"
c = "Danny"
print(a)
print (c)
# code is read by line so the newer declaration will be read.
c = "Maria"
print(c)

9
Danny
Maria

casting

In [3]:
d = int(4)
print (d)
e = float(4)
print (e)

4
4.0

type() function

In [4]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

single quote or double quote

In [5]:
f="maria"
print(f)
g= 'ana'
print(g)

maria
ana

multiple variables

In [6]:
x,y,z = 4,5,6,
print(x)
print(y)
print(z)

4
5
6

Single value to a multiple variables

In [7]:
x=y=z = "LILO"
print(x)
print(y)
print(z)

LILO
LILO
LILO

output variable using print and +

In [8]:
s="python is"
t="enjoying"
print("python is"+" "+ t)
print(s+' '+t)

python is enjoying
python is enjoying

arithmetic

In [9]:
x = 1 
y = 2
sum = x+y
x
y
sum
print(x)
print(y)
print(sum)

#modulo division
l = 4%2
print("4%2=", l )

#floor division
k= 3//2
print("3/2=", k )

1
2
3
4%2= 0
3/2= 1

assignment operator

In [10]:
x = 1
x+=1
print(x)

2

logical operator

In [11]:
q = 1 
r = 4
q>r and r==r

False