<a href="https://colab.research.google.com/github/JhonRobinBagarinao/PLNG211-QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Writing your own function/conversion

def convert_to_celsius(fahrenheit):
  return (fahrenheit-32) *5/9

def convert_to_kelvin(fahrenheit):
  return ((fahrenheit - 32) *5/9) + 273.15
fahrenheit = int(input())

print("Celsius",round(convert_to_celsius(fahrenheit),2))
print("Kelvin",round(convert_to_kelvin(fahrenheit),2))

100
Celsius 37.78
Kelvin 310.93

In [3]:
def Name():
  pass

In [4]:
def my_function(fname):
  return(fname + "Sayo")

print(my_function("Mam"))
print(my_function("Maria"))
print(my_function("Rizette"))

MamSayo
MariaSayo
RizetteSayo

In [5]:
#Returns a value

def myFunction(x):
 return(5+x)

print(myFunction(4))
print(myFunction(5))
print(myFunction(6))

9
10
11

In [6]:
#Exercise 1

print(min(2, 3,4,))
print(max(2, -3, 4, 7, -5))
print(max(2, -3, min(4, 7), -5))

2
7
4

In [8]:
import math

def sum(n1,n2,n3):
  return n1+n2+n3
def average(n1,n2,n3):
  return n1+n2+n3/3
def sumSquare(n1,n2,n3):
  return math.pow(n1,2) + math.pow(n2,2) + math.pow(n3,2)

n1= int(input())
n2= int(input())
n3= int(input())

print("Sum =",sum(n1,n2,n3))
print("Average =",average(n1,n2,n3))
print("Sum of Squares =",sumSquare(n1,n2,n3))

21
300
12
Sum = 333
Average = 325.0
Sum of Squares = 90585.0